h1 {
    color: #232020; /* Change text color of heading */
} 

body {
    background-color: #C1AB7C; /* Change background color */
    font-family: Arial, sans-serif;
}


a {
    color: #000; /* Change link color Black */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}

#sidebar{
    float:right; /* Add Side Text Description */
    width:30%;
    color:#2C2C2C
    
    
}

